//- page to show available transaction categories and link to add new categories
extends layout.pug

block scripts
  - var title = 'Transaction Categories';
block content
  div.d-flex.justify-content-between
    h2
      a(href=originalUrl): i.bi.bi-arrow-left-circle
      |  Transaction Categories
    div
      a(href="/TransactionCategories/CreateCategory").btn.btn-primary.btn-sm.btn-header: span.bi.bi-plus New Category
      span #{" "}
      a(href="/Logout").btn.btn-outline-primary.btn-sm.btn-header Logout
  div.accordion#categoriesAccordion
    each pc in categories
      div.accordion-item
        h2.accordion-header(id="heading_" + pc.parentId)
          button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse_" + pc.parentId aria-controls="collapse_" + pc.parentId) #{pc.parentCategory}
        div.accordion-collapse.collapse(id="collapse_" + pc.parentId aria-labelledby="heading_" + pc.parentId data-bs-parent="#categoriesAccordion")
          div.accordion-body
           ul
            each sc in pc.subcategories
              li #{sc}
