//- page to create new account
extends layout.pug

block content
  h1
    span: a(href="/"): i.bi.bi-x-circle
    |  Create New Account
  form(method="post" action="/CreateAccount" enctype="application/x-www-form-urlencoded")
    div.mb-3
      label.form-label(for="accountName") Name
      input.form-control#accountName(name="accountName" type="text" placeholder='i.e. Checking, Savings, etc.')
    div.mb-3
      label.form-label(for="accountAdmin") Bank/Organization
      input.form-control#accountAdmin(name="accountAdmin" type="text" placeholder='i.e. Bank of America, Venmo, My Local Bank, etc.')
    label.form-label(for="accountBalance") Current Balance
    div.mb-3.input-group
      span.input-group-text $
      input.form-control#accountBalance(name="accountBalance" type="text" aria-label="Account Balance" placeholder="0.00")
    label.form-label(for="creditLimit") Credit Limit (if applicable)
    div.mb-3.input-group
      span.input-group-text $
      input.form-control#creditLimit(name="creditLimit" type="text" aria-label="Account Balance" placeholder="0.00")
    div.mb-3
      button.btn.btn-primary(type="submit") Submit
