//- page to create new account
extends layout.pug

block content
  div.container-fluid
    h1
      span: a(href="/"): i.bi.bi-x-circle
      |  Create New Account
    form(method="post" action="/CreateAccount" enctype="application/x-www-form-urlencoded")
      div.mb-3
        label.form-label(for="accountName") Name
        input.form-control#accountName(name="accountName" type="text")
      div.mb-3
        label.form-label(for="accountAdmin") Administrator
        input.form-control#accountAdmin(name="accountAdmin" type="text")
      label.form-label(for="accountBalance") Current Balance
      div.mb-3.input-group
        span.input-group-text $
        input.form-control#accountBalance(name="accountBalance" type="text" aria-label="Account Balance")
      label.form-label(for="creditLimit") Credit Limit (if applicable)
      div.mb-3.input-group
        span.input-group-text $
        input.form-control#creditLimit(name="creditLimit" type="text" aria-label="Account Balance")
      div.mb-3
        button.btn.btn-primary(type="submit") Submit
